
<body class="font-inter">
  <app-navbar></app-navbar>
  <section class="relative  text-white overflow-hidden">
    <div class="absolute inset-0 bg-black opacity-50"></div>
    <div
      class="absolute inset-0 bg-cover bg-center" style="background-image: url('../../../assets/images/about.jpg'); filter: brightness(0.4);">
    </div>

    <div class="container mx-auto lg:px-12 px-5 py-24 md:py-32 relative z-10 lg:h-[90vh]">
      <div class="flex flex-col md:flex-row items-center justify-around text-center">
        <div class="w-full md:w-1/2 mb-12 md:mb-0 relative">
          <h1 class="text-5xl md:text-7xl font-bold mb-6 leading-tight ">
            Caring for You with
            <br />
            <span class="bg-gradient-to-r from-red-500 via-green-400 to-green-400 inline-block text-transparent bg-clip-text">
            Compassion Always
            </span>
          </h1>

          <p class="text-xl mb-5 text-gray-300 ">Your well-being is our priority. Whether you need assistance, have inquiries, or want to learn more about our services, we’re here to help.</p>
        </div>
      </div>
    </div>

    <div class="absolute bottom-0 left-0 right-0 -mb-0.5">

      <svg
        viewBox="0 0 1440 120"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M0 120L60 105C120 90 240 60 360 45C480 30 600 30 720 37.5C840 45 960 60 1080 67.5C1200 75 1320 75 1380 75L1440 75V120H1380C1320 120 1200 120 1080 120C960 120 840 120 720 120C600 120 480 120 360 120C240 120 120 120 60 120H0Z"
          fill="#F8FAFC"
        />
      </svg>
    </div>
</section>
  <main>
  <section class="w-full xl:py-5 lg:py-20 py-5 bg-slate-50">
    <div class="w-full max-w-7xl px-6 lg:px-8 mx-auto">
      <div class="grid lg:grid-cols-2 grid-cols-1 gap-x-16 xl:gap-x-24 gap-y-14 max-w-lg md:max-w-3xl lg:max-w-full mx-auto">
        <div>
          <h1 class="font-manrope text-gray-900 md:text-5xl text-4xl font-bold leading-tight mb-8 lg:text-left text-center">Contact Us</h1>
          <p class="text-gray-900 text-lg font-normal leading-7 lg:text-left text-center">We understand the importance of compassionate and accessible care. Reach out to us today, we're ready to support you and your loved ones.</p>
          <div class="my-12 grid md:grid-cols-2 grid-cols-1 md:gap-x-8 gap-y-8">
            <div class="rounded-2xl border border-gray-200 bg-white p-7 group transition-all duration-500 hover:bg-red-600">
              <a href="javascript:;" class="w-14 h-14 bg-red-600 rounded-full flex items-center justify-center mb-5 transition-all duration-500 group-hover:bg-white cursor-pointer">
                <svg class="w-6 h-6 text-gray-800 dark:text-white group-hover:fill-red-500" 
                aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" 
                fill="none" viewBox="0 0 24 24">
             <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" 
                   d="M12 18.5A2.493 2.493 0 0 1 7.51 20H7.5a2.468 2.468 0 0 1-2.4-3.154 2.98 2.98 0 0 1-.85-5.274 2.468 2.468 0 0 1 .92-3.182 2.477 2.477 0 0 1 1.876-3.344 2.5 2.5 0 0 1 3.41-1.856A2.5 2.5 0 0 1 12 5.5m0 13v-13m0 13a2.493 2.493 0 0 0 4.49 1.5h.01a2.468 2.468 0 0 0 2.403-3.154 2.98 2.98 0 0 0 .847-5.274 2.468 2.468 0 0 0-.921-3.182 2.477 2.477 0 0 0-1.875-3.344A2.5 2.5 0 0 0 14.5 3 2.5 2.5 0 0 0 12 5.5m-8 5a2.5 2.5 0 0 1 3.48-2.3m-.28 8.551a3 3 0 0 1-2.953-5.185M20 10.5a2.5 2.5 0 0 0-3.481-2.3m.28 8.551a3 3 0 0 0 2.954-5.185"/>
           </svg>             
              </a>
              <h5 class="text-gray-900 text-xl font-semibold leading-8 mb-3 transition-all duration-500 group-hover:text-white">Mental Health Support</h5>
              <p class="text-gray-500 text-sm font-normal leading-5 transition-all duration-500 group-hover:text-white">Guidance and care for individuals seeking emotional and psychological well-being.</p>
            </div>
            <div class="rounded-2xl border border-gray-200 bg-white p-7 group transition-all duration-500 hover:bg-green-600">
              <a href="javascript:;" class="w-14 h-14 bg-green-600 rounded-full flex items-center justify-center mb-5 transition-all duration-500 group-hover:bg-white cursor-pointer">
                <svg class="w-6 h-6 text-gray-800 dark:text-white group-hover:fill-green-500" 
                    aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" 
                    fill="currentColor" viewBox="0 0 24 24">
                  <path d="m12.75 20.66 6.184-7.098c2.677-2.884 2.559-6.506.754-8.705-.898-1.095-2.206-1.816-3.72-1.855-1.293-.034-2.652.43-3.963 1.442-1.315-1.012-2.678-1.476-3.973-1.442-1.515.04-2.825.76-3.724 1.855-1.806 2.201-1.915 5.823.772 8.706l6.183 7.097c.19.216.46.34.743.34a.985.985 0 0 0 .743-.34Z"/>
                </svg>      
              </a>
              <h5 class="text-gray-900 text-xl font-semibold leading-8 mb-3 transition-all duration-500 group-hover:text-white">Elderly Care Services</h5>
              <p class="text-gray-500 text-sm font-normal leading-5 transition-all duration-500 group-hover:text-white">Compassionate assistance for seniors in need of professional home care.</p>
            </div>
          </div>
          <div class="border-t border-slate-200 pt-12 flex lg:justify-start justify-center items-center space-x-2">
            <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="text-gray-600 dark:text-gray-300">
              <path d="M12 2C8.13 2 5 5.13 5 9C5 13.25 9.75 18.08 11.35 19.68C11.71 20.04 12.29 20.04 12.65 19.68C14.25 18.08 19 13.25 19 9C19 5.13 15.87 2 12 2ZM12 11.5C10.62 11.5 9.5 10.38 9.5 9C9.5 7.62 10.62 6.5 12 6.5C13.38 6.5 14.5 7.62 14.5 9C14.5 10.38 13.38 11.5 12 11.5Z" fill="currentColor"/>
            </svg>
            <p class="text-gray-700 dark:text-gray-300">Sto. Domingo, 2019 Minalin, Philippines, Minalin, Philippines, 2019</p>
          </div>
          
        </div>
        <form action="" class="h-fit bg-white border border-slate-200 rounded-2xl lg:p-12 p-8 w-full max-w-lg md:max-w-3xl lg:max-w-full mx-auto">
          <div class="relative mb-8">
            <label class="flex  items-center mb-2 text-gray-600 text-base leading-6 font-medium">Name </label>
            <div class="relative text-gray-500 focus-within:text-gray-900">
              <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none ">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M20 21C20 18.1716 20 16.7574 19.1213 15.8787C18.2426 15 16.8284 15 14 15H10C7.17157 15 5.75736 15 4.87868 15.8787C4 16.7574 4 18.1716 4 21M12.1441 11C12.0541 10.991 11.9459 10.991 11.8468 11C9.7027 10.9278 8 9.16911 8 7.00451C8 4.79481 9.78378 3 12 3C14.2072 3 16 4.79481 16 7.00451C15.991 9.16911 14.2883 10.9278 12.1441 11Z" stroke="#111827" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
              </div>
              <input type="text" id="default-search" class="w-full block h-12 pr-5 pl-12 py-2.5 text-lg leading-7 font-normal shadow-xs text-gray-900 bg-transparent border border-gray-300 rounded-full placeholder-gray-400 focus:outline-none" placeholder="Enter Your Full Name">
            </div>
          </div>
          <div class="relative mb-8">
            <label class="flex  items-center mb-2 text-gray-600 text-base leading-6 font-medium">Email </label>
            <div class="relative text-gray-500 focus-within:text-gray-900">
              <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none ">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M2.25201 7L8.15881 10.8953C10.2686 12.1612 11.3235 12.7941 12.4825 12.7665C13.6416 12.739 14.6652 12.0566 16.7124 10.6917L21.748 7M10 20H14C17.7712 20 19.6569 20 20.8284 18.8284C22 17.6569 22 15.7712 22 12C22 8.22876 22 6.34315 20.8284 5.17157C19.6569 4 17.7712 4 14 4H10C6.22876 4 4.34315 4 3.17157 5.17157C2 6.34315 2 8.22876 2 12C2 15.7712 2 17.6569 3.17157 18.8284C4.34315 20 6.22876 20 10 20Z" stroke="#6B7280" stroke-width="1.5" stroke-linecap="round" />
                </svg>
              </div>
              <input type="text" id="default-search" class="w-full block h-12 pr-5 pl-12 py-2.5 text-lg leading-7 font-normal shadow-xs text-gray-900 bg-transparent border border-gray-300 rounded-full placeholder-gray-400 focus:outline-none" placeholder="Enter Your Email">
            </div>
          </div>
          <div class="relative mb-8">
            <label class="flex  items-center mb-2 text-gray-600 text-base leading-6 font-medium">Message </label>
            <div class="relative ">
              <textarea class="block w-full h-40 px-4 py-2.5 text-lg leading-7 font-normal shadow-xs text-gray-900 bg-transparent border border-gray-300 rounded-2xl placeholder-gray-400 focus:outline-none resize-none" placeholder="Write your message"></textarea>
            </div>
          </div>
          <button class="w-full h-12 rounded-full bg-red-600 hover:bg-red-900 transition-all duration-700 shadow-sm text-white text-base font-semibold leading-6 flex items-center justify-center">Send message <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M7.5 15L11.0858 11.4142C11.7525 10.7475 12.0858 10.4142 12.0858 10C12.0858 9.58579 11.7525 9.25245 11.0858 8.58579L7.5 5" stroke="white" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
          </button>
        </form>
      </div>
    </div>
  </section>
  <div class="w-full h-[400px] md:h-[500px] lg:h-[600px]">
    <iframe 
        class="w-full h-full"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3854.019154985536!2d120.7377957251139!3d14.991641885542352!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3396f900010dc743%3A0xf15ce318cbdb7f77!2sCalming%20Thoughts%20SJ%20Home%20Care%20Services!5e0!3m2!1sen!2sph!4v1741164075257!5m2!1sen!2sph"
        allowfullscreen="" 
        loading="lazy">
    </iframe>
</div>


  </main>

  <app-footer></app-footer>
  
</body>
                                      