<app-navbar></app-navbar>
<section class="relative  text-white overflow-hidden">
    <div class="absolute inset-0 bg-black opacity-50"></div>
    <div
      class="absolute inset-0 bg-cover bg-center" style="background-image: url('../../../assets/images/about.jpg'); filter: brightness(0.4);">
    </div>

    <div class="container mx-auto lg:px-12 px-5 py-24 md:py-32 relative z-10 lg:h-[90vh]">
      <div class="flex flex-col md:flex-row items-center justify-around text-center">
        <div class="w-full md:w-1/2 mb-12 md:mb-0 relative">
          <h1 class="text-5xl md:text-7xl font-bold mb-6 leading-tight ">
            Expert Care, With You Every
            <br />
            <span class="bg-gradient-to-r from-red-500 via-green-400 to-green-400 inline-block text-transparent bg-clip-text">
            Step of the Way
            </span>
          </h1>

          <p class="text-xl mb-5 text-gray-300 ">We believe in providing more than just care. We offer understanding, support, and a commitment to your well-being. Our range of specialized services ensures that every individual receives the right level of attention, comfort, and professional assistance they need.</p>
        </div>
      </div>
    </div>

    <div class="absolute bottom-0 left-0 right-0 -mb-0.5">

      <svg
        viewBox="0 0 1440 120"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M0 120L60 105C120 90 240 60 360 45C480 30 600 30 720 37.5C840 45 960 60 1080 67.5C1200 75 1320 75 1380 75L1440 75V120H1380C1320 120 1200 120 1080 120C960 120 840 120 720 120C600 120 480 120 360 120C240 120 120 120 60 120H0Z"
          fill="#F8FAFC"
        />
      </svg>
    </div>
</section>
<app-footer></app-footer>