<app-navbar></app-navbar>
<section class="relative  text-white overflow-hidden  ">
    <div class="absolute inset-0 bg-black opacity-50"></div>
    <div
      class="absolute inset-0 bg-cover bg-center" style="background-image: url('../../../assets/images/home.jpg'); filter: brightness(0.4);">
    </div>

    <div class="container mx-auto lg:px-12 px-5 py-24 md:py-32 relative z-10 lg:h-[90vh]">
      <div class="flex flex-col md:flex-row items-center justify-around">
        <div class="w-full md:w-1/2 mb-12 md:mb-0 relative">
          <h1 class="text-5xl md:text-7xl font-bold mb-6 leading-tight ">
            Calming Thoughts
            <br />
            <span class="bg-gradient-to-r from-red-500 via-green-400 to-green-400 inline-block text-transparent bg-clip-text">
                SJ Home Care Services 
            </span>
          </h1>

          <p class="text-xl mb-5 text-gray-300 ">
            Providing compassionate care and reliable support for mental wellness, built on trust, knowledge, and community.
          </p>
          <div class="flex flex-col sm:flex-row space-y-4 sm:space-y-0 sm:space-x-4 ">
            <button routerLink="/contact" class="group relative w-full sm:w-auto px-6 py-3 min-w-[160px]">
              <div class="absolute inset-0 bg-gradient-to-r from-red-600 to-green-600 rounded-lg"></div>
              <div class="absolute inset-0 bg-gradient-to-r from-red-600 to-green-600 rounded-lg lg:blur-md blur-0 group-hover:opacity-60 transition-opacity duration-500"></div>
              <div class="relative flex items-center justify-center gap-2">
                <span class="text-white font-medium">Join Us</span>
                <svg
                  class="w-5 h-5 text-white transform group-hover:translate-x-1 transition-transform"
                  fill="none"
                  stroke="currentColor"
                  viewBox="0 0 24 24"
                >
                  <path
                    strokeLinecap="round"
                    strokeLinejoin="round"
                    strokeWidth="2"
                    d="M13 7l5 5m0 0l-5 5m5-5H6"
                  />
                </svg>
              </div>
            </button>

            <button routerLink="/about" class="w-full sm:w-auto px-6 py-3 rounded-lg border border-white/10 bg-white/5 backdrop-blur-lg text-white/70 hover:bg-white/10 hover:text-white transition-all min-w-[160px]">
              Learn More
            </button>
          </div>
         
        </div>

        <div class="w-full md:w-2/5 md:pl-12 ">
          <div class="bg-white bg-opacity-10 backdrop-filter md:backdrop-blur-lg relative  rounded-xl p-8 shadow-2xl">
            <h2 class="text-2xl font-semibold mb-6">Why Choose Us?</h2>
            <img
              id="wcu-logo"
              src="../../../assets/images/logo.png"
              alt="Logo"
              class="h-16 right-2 top-2 drop_shadow lg:block md:block hidden  absolute"
            />
            <ul class="space-y-4">
              <li class="flex items-center">
                <svg class="mr-3" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#28A745" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"> <path d="M20 6L9 17l-5-5"/>
                </svg>
                <span>Compassionate & Personalized Support</span>
              </li>
              <li class="flex items-center">
                <svg class="mr-3" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#DC710E" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"> <path d="M4 19.5A2.5 2.5 0 0 1 6.5 17H20"/> <path d="M20 2H6.5A2.5 2.5 0 0 0 4 4.5v15"/> <path d="M20 2v15"/>
                </svg>
                <span>Guidance Rooted in Research & Care</span>
              </li>
              <li class="flex items-center">
                <svg class="mr-3" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#DC3545" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"> <path d="M12 21s-6-4.35-9-7.5C0 9.5 2.5 4 7 4c2.5 0 4 1.5 5 3 1-1.5 2.5-3 5-3 4.5 0 7 5.5 4 9.5-3 3.15-9 7.5-9 7.5z"/>
                </svg>
                <span>A Community That Cares</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="absolute bottom-0 left-0 right-0 -mb-0.5">
      <svg
        viewBox="0 0 1440 120"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M0 120L60 105C120 90 240 60 360 45C480 30 600 30 720 37.5C840 45 960 60 1080 67.5C1200 75 1320 75 1380 75L1440 75V120H1380C1320 120 1200 120 1080 120C960 120 840 120 720 120C600 120 480 120 360 120C240 120 120 120 60 120H0Z"
          fill="#F8FAFC"
        />
      </svg>
    </div>
</section>
<section id="testimonies" class="py-20 bg-[#F8FAFC]">
  <div class="max-w-6xl mx-8 md:mx-10 lg:mx-20 xl:mx-auto">

      <div class="transition duration-500 ease-in-out transform scale-100 translate-x-0 translate-y-0 opacity-100">
          <div class="mb-12 space-y-5 md:mb-16 md:text-center">
              <div
                  class="inline-block px-3 py-1 text-sm font-semibold text-indigo-100 rounded-lg md:text-center text-cn bg-[#202c47] bg-opacity-60 hover:cursor-pointer hover:bg-opacity-40">
                  TESTIMONIALS
              </div>
              <h1 class="mb-5 text-3xl font-semibold text-black md:text-center md:text-5xl">
                  It's not just us.
              </h1>
              <p class="text-xl text-black-100 md:text-center md:text-2xl">
                  Here's what others have to say about us.
              </p>
          </div>
      </div>


      <div class="grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3 lg:gap-8">


          <ul class="space-y-8">
              <li class="text-sm leading-6">
                  <div class="relative group">
                      <div
                          class="absolute transition rounded-lg opacity-25 -inset-1 bg-gradient-to-r from-red-600 to-green-600 blur duration-400 group-hover:opacity-100 group-hover:duration-200">
                      </div><a href="https://www.facebook.com/share/p/12JrkaPZTF7/" target="_blank" class="cursor-pointer">
                          <div
                              class="relative p-6 space-y-6 leading-none rounded-lg bg-slate-800 ring-1 ring-gray-900/5">
                              <div class="flex items-center space-x-4"><img
                                      src="../../../assets/images/user1.png"
                                      class="w-12 h-12 bg-center bg-cover border rounded-full" alt="Kanye West">
                                  <div>
                                      <h3 class="text-lg font-semibold text-white">Cess Adduru</h3>
                                      <p class="text-gray-500 text-md">OJT Trainee</p>
                                  </div>
                              </div>
                              <p class="leading-normal text-gray-300 text-md">I am truly grateful to have completed my OJT at this facility. This experience has been incredibly enlightening. Providing clients with love and care is not only fulfilling but also reciprocated with genuine affection and trust. I feel profoundly blessed to have worked alongside the remarkable individuals at this establishment. To the clients, staff, and Nurse Pao, my heartfelt thanks. May you all be abundantly blessed.</p>
                          </div>
                      </a>
                  </div>
              </li>
          </ul>


          <ul class="hidden space-y-8 sm:block">
              <li class="text-sm leading-6">
                  <div class="relative group">
                      <div
                          class="absolute transition rounded-lg opacity-25 -inset-1 bg-gradient-to-r from-red-600 to-green-600 blur duration-400 group-hover:opacity-100 group-hover:duration-200">
                      </div><a href="https://www.facebook.com/share/p/19mB23tMZh/" target="_blank" class="cursor-pointer">
                          <div
                              class="relative p-6 space-y-6 leading-none rounded-lg bg-slate-800 ring-1 ring-gray-900/5">
                              <div class="flex items-center space-x-4"><img
                                      src="../../../assets/images/user2.png"
                                      class="w-12 h-12 bg-center bg-cover border rounded-full" alt="Parag Agrawal">
                                  <div>
                                      <h3 class="text-lg font-semibold text-white">Jhess Guinto</h3>
                                      <p class="text-gray-500 text-md">CEO of Twitter</p>
                                  </div>
                              </div>
                              <p class="leading-normal text-gray-300 text-md">thank you so much nurse Pao sa knowledge na binahagi nyo po sa amin.. 
                                babalik po kmi ng calming again n again to share our blessing para sa mga nsa homecare.. God bless 🙏🏼</p>
                          </div>
                      </a>
                  </div>
              </li>
          </ul>


          <ul class="hidden space-y-8 lg:block">
              <li class="text-sm leading-6">
                  <div class="relative group">
                      <div
                          class="absolute transition rounded-lg opacity-25 -inset-1 bg-gradient-to-r from-red-600 to-green-600 blur duration-400 group-hover:opacity-100 group-hover:duration-200">
                      </div><a href="https://www.facebook.com/share/p/18fpFPdTNE/" target="_blank" class="cursor-pointer">
                          <div
                              class="relative p-6 space-y-6 leading-none rounded-lg bg-slate-800 ring-1 ring-gray-900/5">
                              <div class="flex items-center space-x-4"><img
                                      src="../../../assets/images/user3.png"
                                      class="w-12 h-12 bg-center bg-cover border rounded-full" alt="Satya Nadella">
                                  <div>
                                      <h3 class="text-lg font-semibold text-white">Jp Mariano</h3>
                                      <p class="text-gray-500 text-md">OJT Trainee</p>
                                  </div>
                              </div>
                              <p class="leading-normal text-gray-300 text-md">ask a ojt marami akong natutunan bilang care giver at higit pa maganda ang experience mo malalaman mo ang kahalagaan ng ginagawa mo at pag mamahal sa trbaho mo</p>
                          </div>
                      </a>
                  </div>
              </li>
          </ul>

      </div>
  </div>
</section>
<app-footer></app-footer>